:root {
  --border-dark: solid rgb(128, 128, 128);
  --border-light: solid white;
}

.container {
  width: fit-content;
  padding: 10px;
  /* background-color: rgb(198, 198, 198); */
  background-color: blue;
  border-top: 2px var(--border-light);
  border-left: 2px var(--border-light);
  border-right: 2px var(--border-dark);
  border-bottom: 2px var(--border-dark);
}

.game {
  background-color: grey;
  border-top: 4px var(--border-dark);
  border-left: 4px var(--border-dark);
  border-right: 4px var(--border-light);
  border-bottom: 4px var(--border-light);
}

.cell {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  background-color: rgb(198, 198, 198);
  font-size: 18px;
  font-weight: bold;
  border-top: 2px var(--border-light);
  border-left: 2px var(--border-light);
  border-right: 2px var(--border-dark);
  border-bottom: 2px var(--border-dark);
}

.cell.clicked {
  border: 1px solid rgb(130, 130, 130);
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.red {
  color: red;
}

.purplered {
  color: purple;
}

.darkred {
  color: darkred;
}

.darkturqoise {
  color: darkturqoise;
}